
.event-sales-title{
    font-family: 'montserrat-semibold' !important;
    font-size: 20px;
    font-weight: 400 !important;
}

.event-summary-container{
    padding: 15px !important;
    margin-bottom: 15px;
}